{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<header id="site-head" {{#if @site.cover_image}}style="background-image: url({{@site.cover_image}})" {{/if}}>
  <div class="vertical animated bounceInDown">
    <div id="site-head-content" class="inner">
      {{#if @site.logo}}<a id="blog-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="Blog Logo" /></a>{{/if}}
      <h1 class="blog-title">{{@site.title}}</h1>
      <h2 class="blog-description">{{@site.description}}</h2>
      <div>
        <a href="https://github.com/xEt3" target="_blank" class="github4"><img src="assets/github4.ico" alt=""
            width="50px"><b></b></a>
        <a href="https://twitter.com/xEt31" target="_blank" class="github4"><img src="assets/twitter.ico" alt=""
            width="50px"><b></b></a>
        <a href="https://www.twitch.tv/xeet3" target="_blank" class="github4"><img src="assets/twitch.png" alt=""
            width="50px"></a>
      </div>
    </div>
  </div>
</header>

<body>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <br><br>
    {{#if @site.navigation}}
    <a href="https://github.com/xEt3" target="_blank" class="github4"><img src="assets/github4.ico" alt=""
        width="25px"><b> Github</b></a>
    <a href="https://twitter.com/xEt31" target="_blank" class="github4"><img src="assets/twitter.ico" alt=""
        width="25px"><b> Twitter</b></a>
    <a href="https://www.twitch.tv/xeet3" target="_blank" class="github4"><img src="assets/twitch.png" alt=""
        width="25px"><b> Twitch</b></a>
    {{/if}}
  </div>

  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>
</body>

{{! The main content area on the homepage }}
<main class="content" role="main">


  <article class="post page">



    <section class="post-content">


      <p><img src="https://media.giphy.com/media/gF1eNvrZDHqbS/giphy.gif" alt="Mr_Robot_GIF"></p>
    </section>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = d_id;

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
    <!-- <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>-->


    <footer class="post-footer">

      <section class="author">
        <h4>Ignacio Belmonte</h4>
        <p>Researcher/ Developer</p>
      </section>

      <section class="share" style="width: 150px;align-content: center">
        <h4>Contact</h4>
        <a href="mailto:xet3@outlook.es"><img src="assets/mail.svg" style="width: 20px"></a>
        <a href="https://twitter.com/xEt31" target="_blank" class="github4"><img src="assets/twitter.ico" alt=""
        width="20px"><b></b></a>
      </section>

    </footer>


  </article>
</main>